In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [3]:
df = pd.read_csv('../data/fall_2019_cleaned_prepared_total_participant_data.csv')

In [7]:
df

,ID,Date,MediaName,EventType,EventDuration,FixationX,FixationY,GazeX,GazeY,DistanceLeft,...,FixationN,SaccadeN,GazeLoc,GazeR,GazeTheta,FixationLoc,FixationR,FixationTheta,PhaseType,nLocs
0,4,11/5/2019,123456_1,1.0,400.0,NaN,NaN,NaN,NaN,547.46,...,1.0,NaN,1.0,NaN,NaN,1.0,NaN,NaN,0,6
1,4,11/5/2019,123456_1,1.0,400.0,NaN,NaN,NaN,NaN,547.42,...,1.0,NaN,1.0,NaN,NaN,1.0,NaN,NaN,0,6
2,4,11/5/2019,123456_1,1.0,400.0,NaN,NaN,NaN,NaN,547.38,...,1.0,NaN,1.0,NaN,NaN,1.0,NaN,NaN,0,6
3,4,11/5/2019,123456_1,1.0,400.0,NaN,NaN,NaN,NaN,547.42,...,1.0,NaN,1.0,NaN,NaN,1.0,NaN,NaN,0,6
4,4,11/5/2019,123456_1,1.0,400.0,NaN,NaN,NaN,NaN,547.27,...,1.0,NaN,1.0,NaN,NaN,1.0,NaN,NaN,0,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1527059,29,12/6/2019,123456_2,1.0,749.0,351.0,902.0,353.0,898.0,651.35,...,39.0,NaN,2.0,42.953463,155.224859,2.0,38.483763,155.432829,0,6
1527060,29,12/6/2019,123456_2,1.0,749.0,351.0,902.0,350.0,905.0,651.46,...,39.0,NaN,2.0,35.341194,154.885165,2.0,38.483763,155.432829,0,6
1527061,29,12/6/2019,123456_2,1.0,749.0,351.0,902.0,354.0,908.0,651.48,...,39.0,NaN,2.0,34.669872,146.768289,2.0,38.483763,155.432829,0,6
1527062,29,12/6/2019,123456_2,1.0,749.0,351.0,902.0,350.0,909.0,651.48,...,39.0,NaN,2.0,31.764760,151.821410,2.0,38.483763,155.432829,0,6
1527063,29,12/6/2019,123456_2,1.0,749.0,351.0,902.0,351.0,911.0,651.52,...,39.0,NaN,2.0,30.528675,148.392498,2.0,38.483763,155.432829,0,6